<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Powered by <a href="http://blog.xujin.org" target="_blank">Software_King</a>. 
        </div>
    </div>
</footer>