<% if (site.posts.length) { %>
    <div class="widget-wrap">
        <h3 class="widget-title"><%= __('widget.recents') %></h3>
        <div class="widget">
             <style>
    .bg-gg {
        background-color: #f9f1f1;
        padding: 15px;
        margin: 0px;
        border-radius: 21px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .bg-gg ul li{
       padding: 0px;
       font-size:15px;
    }
</style>
           
                <div class="bg-gg">
                <%- partial('widget/tip') %>
                    <div style="padding:3px 0 3px 10px;font-size:15px;"><span style="color:#71ABC7"><strong>while</strong></span> ( <span style="color:#B6D785">true</span> ) <span style="color:#F89653">分享</span>(); 
                    <ul style="margin-top: -3px">
                        <li>QQ：2508203324</li>
                        <li>Tel:18616365668</li>
                        <li>微信：Software_King</li>
                        <li>邮箱：ceo@cloudshou.cn</li>
                        <li>群号如下:</li>
                        <li>springcloud:415028731</li>
                    </ul>
                    </div> 

                </div>
        </div>
    </div>
<% } %>